<div class="container">

    <div class="row">
        <form action="/admin/generate-fake-posts" method="post">
            <h1>Generate posts</h1>
            <div class="form-group">
                <input type="number" name="amount" id="amount" min=0 class="form-control">
            </div>

            <button type="submit" class="btn btn-dark" >Generate</button>
        </form>
    </div>

    <div class="row">
        <canvas id="myChart"></canvas>
    </div>

</div>