
<div class="row">
    <div class="col-sm-4">
    <h1>Create Category</h1>
        <form action="/admin/categories/create" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Enter Name" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Create Category</button>
        </form>
    </div>


    <div class="col-sm-8">
        <h1>Categories</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                <tr>
                    <td>{{_id}}</td>
                    <td>{{name}}</td>
                    <td>
                        <form action="/admin/categories/{{_id}}?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">DELETE</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>