<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FolkHub</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for home page -->
    <link href="/css/home/blog-home.css" rel="stylesheet">

    <!-- Custom styles for post single -->
    <link href="/css/home/blog-post.css" rel="stylesheet">
    

  </head>

  <body>

    <!-- Navigation -->
    {{>home/home-nav}}

    <!-- Page Content -->
    <div class="container">
      <br>
      {{>home/form-msgs}}
      {{{body}}}

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{>home/footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/jquery/bootstrap.bundle.min.js"></script>

  </body>

</html>
