<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FolkHub</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for home page -->
    <link href="/css/home/blog-home.css" rel="stylesheet">

    <!-- Custom styles for post single -->
    <link href="/css/home/blog-post.css" rel="stylesheet">
    

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  </head>

  <body>

    <!-- Navigation -->
    {{>home/home-nav}}

    <!-- Page Content -->
    <div class="container">
      <br>
      {{>home/form-msgs}}
      {{{body}}}

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{>home/footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/jquery/bootstrap.bundle.min.js"></script>

        
    
    {{!-- footer manage --}}
    <script>
    $(document).ready(function(){
        if($('body').height() < $(window).height()*0.9){
          $('footer').css({
            "position": "fixed", "width": "100%", "bottom": "0"
          })
        }
    })
    </script>

  </body>

</html>
