<footer class="py-5 bg-dark" id="footer">
  <div class="container text-center">
    <p class="mt-3" style="font-size: 30px">
    <a style="color:white" target='_blank' href="https://github.com/harshitbansal373"><i class="fab fa-github mr-3"></i></a>
    <a style="color:white" target='_blank' href="https://www.linkedin.com/in/harshitbansal373"><i class="fab fa-linkedin mr-3"></i></a>
    <a style="color:white" target='_blank' href="https://www.instagram.com/harshitbansal373"><i class="fab fa-instagram mr-3"></i></a>
    <a style="color:white" target='_blank' href="https://www.facebook.com/harshitbansal373"><i class="fab fa-facebook mr-3"></i></a>
    </p>
    <p style="font-size: 14px; color:white">&copy; 2020 |
    Design By <a href="https://github.com/harshitbansal373" style="color:yellow;">Harshit Bansal</a>
  </p>
  </div>
  <!-- /.container -->
</footer>
