<h1>ABOUT</h1>

<div class="container">

    <figure class="figure">
      
      <img src="/uploads/about.png" class="figure-img img-fluid rounded" alt="...">
      <h6 class="text-justify mt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis amet expedita blanditiis nihil tenetur quod ullam reiciendis voluptatem molestiae ea mollitia, minima animi explicabo at quibusdam quas suscipit vero non nesciunt eligendi. Animi temporibus dolorem totam veniam laudantium libero et alias repellendus eum pariatur, commodi ea nulla, recusandae nobis laborum omnis incidunt perspiciatis quisquam fugiat natus impedit beatae! Dolor officiis ipsam iste repellendus sit veniam accusamus ullam repellat fugiat praesentium quam at asperiores omnis porro tempore cumque quasi dolores, ad odio. Nemo temporibus fugit, debitis dolores voluptates excepturi quod, facilis dolor, a sequi et perspiciatis illo consequatur cupiditate voluptatem maxime!</h6>

    </figure>
</div>
