<h1>ABOUT</h1>

<div class="container">

    <figure class="figure">
      
      <img src="/uploads/about.png" class="figure-img img-fluid rounded" alt="...">
      <h6 class="text-justify mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias rem sit animi reiciendis nostrum dolores nobis, perspiciatis exercitationem mollitia magni similique vel obcaecati quos, sequi facilis dolore repellat. Corporis dolorem enim animi. Placeat quisquam neque illo reiciendis ex animi sapiente nisi assumenda. Sunt aperiam nam aliquam minus cupiditate recusandae consequatur ullam similique libero earum cumque illum deleniti fugiat quam voluptatem nostrum nulla ut, placeat saepe distinctio dolorum quod. Quis hic molestiae qui officia tempore est assumenda exercitationem quos dolorum eos, maxime nostrum illo, voluptatum fugiat magnam quidem vero temporibus, sed quibusdam dicta inventore nisi! Praesentium necessitatibus pariatur iste maiores, cumque aliquam vel nam distinctio architecto ad incidunt quasi numquam id rem tempora odio doloremque neque possimus optio quae officiis omnis consequuntur! Enim, ex at officiis, quae exercitationem repudiandae repellendus, quas quo possimus laborum optio alias veniam quia quisquam ratione sequi ad dolorum illo tempora? Sed sit ea eum, officiis, sunt, nisi dignissimos accusamus voluptates delectus explicabo ducimus quae qui. Neque explicabo eaque tempore, cum eum inventore eos fuga magni itaque, debitis id sequi dignissimos impedit in praesentium omnis beatae quo vitae quis, vero ad consequatur? Dolores ducimus rerum neque quos exercitationem earum provident similique maxime eum vel tempore distinctio quam, commodi inventore aliquid repudiandae natus ipsum quo veritatis omnis, modi, sit minima! Quis nesciunt necessitatibus est tempora earum exercitationem adipisci, commodi molestias, amet deleniti dolores, veritatis fugit inventore repellendus qui dolorem veniam quas delectus optio quaerat. Aliquid facilis omnis possimus, quo explicabo ipsam nisi tempora incidunt dolorem id, ipsa ab! Maxime saepe recusandae numquam hic inventore quidem quasi officia, neque voluptatum assumenda aliquam cupiditate dolorum iste commodi tempore optio reiciendis id est accusamus! Quasi, fuga. Earum, tenetur? Culpa debitis explicabo, ea neque magnam odit animi, assumenda perspiciatis repellendus unde sint tempora soluta voluptates itaque dolor nesciunt, at fuga eligendi reiciendis!</h6>
              
      
    </figure>
</div>
